<!-- FOOTER STARTS -->
<section id="footer">
  <div class="container">
    <div class="row">

      <div class="col-md-4 left-col">
        <h3 class="footer-logo">ICONIX360</h3>
        <p class="footer-copyright">ICONIX360 2018 All Rights Reserved.</p>
      </div>

      <div class="col-md-4 centre-col">
        <h3>GOT QUESTIONS? ASK ON OUR CHANNELS</h3>
        <ul class="list-inline">
          <li>
            <i class="fa fa-twitter fa-2x footer-color" aria-hidden="true"></i>
          </li>
          <li>
            <i class="fa fa-facebook fa-2x footer-color" aria-hidden="true"></i>
          </li>
          <li>
            <i class="fa fa-snapchat-square fa-2x footer-color" aria-hidden="true"></i>
          </li>

          <li>
            <i class="fa fa-slack fa-2x footer-color" aria-hidden="true"></i>
          </li>
        </ul>
      </div>

      <div class="col-md-4 right-col">
        <h3>Privacy Policy</h3>
        <p class="footer-terms">Terms and Conditions.</p>
      </div>

    </div>
  </div>
</section>
<!-- FOOTER ENDS -->
