<section id="ico-top-panel">

  <div class="container" >
    <div class="row" >
      <div class="col-md-9 ico-stats-panel" align="center" >

        <div class="row">

          <div class="col-md-2 ico-panel-card">
            <h4>ONGOING ICO'S</h4>
            <p>{{ongoing}}</p>
          </div>

          <div class="col-md-2 ico-panel-card">
            <h4>ENDED ICO'S</h4>
            <p>{{finished}}</p>
          </div>

          <div class="col-md-2 ico-panel-card">
            <h4>ALL ICO'S</h4>
            <p>{{all}}</p>
          </div>
          <div class="col-md-2" >

          </div>

          <div class="col-md-3 " >

          </div>

        </div>

      </div>

      <div class="col-md-3 col-xs-12" style="padding: 15px 0 10px 0;">

        <form class="form-horizontal" role="Search">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search" id="ico-search" name="srch-term" >
            <div class="input-group-btn">
              <button class="btn btn-default" type="submit">
                <i style="color: #1DA0B4;" class="glyphicon glyphicon-search"></i>
              </button>
            </div>
          </div>
        </form>
      </div>
      <!-- <div class="col-md-3" style="padding-top: 30px">
          <img src="./img/search.png" alt="">
          <input type="text" id="b" placeholder="Search ICO'S.." style="border-color: #4db6ac">

      </div> -->
    </div>
  </div>
</section>
