<!-- IMAGES SECTION STARTS -->
<section id="five-features">
  <div class="container">

    <div class="row" align="center">

      <div class=" col-md-offset-1 col-md-2 col-xs-offset-1 col-xs-2 fv-item">
        <img src="assets/icons/money-bill-alt.png" alt="currency-icon">
        <p class="currency-heading">CURRENCIES</p>
      </div>
      <div class="col-md-2 col-xs-2 fv-item">
        <img src="assets/icons/exchange-alt.png" alt="exchange-icon">
        <p class="exchange-heading">EXCHANGES</p>
      </div>
      <div class="col-md-2 col-xs-2 fv-item">
        <img src="assets/icons/dollar-sign-selected.png"   alt="dollar-icon">
        <p class="markets-heading selected">MARKETS</p>
      </div>
      <div class="col-md-2 col-xs-2 fv-item">
        <img src="assets/icons/binoculars.png" alt="binocular-icon">
        <p class="watchlist-heading">WATCHLIST</p>
      </div>

      <div class="col-md-2 col-xs-2 fv-item">
        <img src="assets/icons/chart-line.png" alt="chart-line-icon">
        <p class="portfolio-heading">PORTFOLIO</p>
      </div>
    </div>

  </div>
</section>

<!-- IMAGES SECTION ENDS -->
