<!-- CONTAINER STARTS -->
<div class="jumbotron" style="padding: 100px 0 80px 0;">
  <div class="container">

    <!--<h3> Invest Smarter With CoinMarketcap.</h3>-->

    <!--<h3> ICOs Ratings From Top Investors and Experts.-->
    <!--</h3>-->

    <!--<a class="btn btn-default" (click)="gotoMarket()" role="button">MARKET</a>-->

    <!--<a class="btn btn-default " (click)="gotoCrypto()"  role="button">ICO</a>-->

    <div class="row">
      <div class="col-md-8">
        <h3 class="animated fadeInRight"> Invest Smarter With ICONOX360.</h3>
        <h3 class="animated fadeInRight" style="animation-delay: 0.7s;"> ICOs Ratings From Top Investors and Experts.
        </h3>
        <a class="btn btn-default animated fadeIn" style="animation-delay: 0.7s;" (click)="gotoMarket()" role="button">MARKET</a>
        <a class="btn btn-default animated fadeIn" style="animation-delay: 0.7s;" (click)="gotoCrypto()"  role="button">ICO</a>
      </div>
      <div *ngIf="bit=='0'" class="col-md-4 iconButtonDiv animated fadeIn" style="animation-delay: 0.9s;">

        <div >
          <h3 id="h3Text">Create a free account</h3>
          <button (click)="facebookAuthSignup()" type="button" class="btn btn-primary">
            <i class="fa fa-facebook-square  fa-1x"></i>
            SIGNUP WITH FACEBOOK</button>
          <button data-toggle="modal" data-target="#signup"  type="button" class="btn btn-lightBlue">
            <i class="fa fa-envelope fa-1x"></i>
            SIGNUP WITH EMIAL</button>
        </div>

      </div>

    </div>


    <div id="signup" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 style="text-align: center;" class="modal-title">Signup</h4>
          </div>
          <div class="modal-body">
            <form style="text-align: center;" id="1" class="form-horizontal" role="form" method="post">
              <div   class="input-group col-md-offset-4" style="margin-bottom: 25px;"><span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span><input type="email" class="form-control" value="" placeholder="User Email" [(ngModel)]="signupUserEmail" name="signupUserEmail" required="" style="width: 200px;"></div>
              <div  class="input-group col-md-offset-4" style="margin-bottom: 25px;"><span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span><input type="password" class="form-control" value="" placeholder="password" [(ngModel)]="signupUserPassword" name="signupUserPassword"  required="" style="width: 200px;"></div>
              <!--<div class="input-group " style="width:100%;">-->
              <!--<div class="checkbox"><label><input type="checkbox" id="" name="remember" value="1"> Remember me</label></div>-->
              <!--</div>-->
              <div class="form-group" style="margin-top: 10px;">
                <div class="col-sm-12 controls"><button (click)="register()" type="button" class="btn btn-primary" style="margin-left: 10px; margin-bottom: 10px; margin-top: 10px; text-align: center; width: 200px; background-color: rgb(0, 151, 167); border-radius: 1px;">Submit</button>
                  <button (click)="facebookAuthSignup()" type="button" classnamename="btn btn-primary" style="color: rgb(255, 255, 255); text-align: center; height: 35px; margin-right: 30px; margin-bottom: 20px; width: 200px; margin-left: 40px; background-color: rgb(48, 63, 159);"><i class="fa fa-facebook " aria-hidden="true" style="margin-right: 10px;"></i>Login With Facebook</button></div>
              </div>
              <div class="form-group">
                <div class="col-md-12col-md-2 Future-div1 control">
                  <div style="border-top: 1px solid rgb(136, 136, 136); padding-top: 15px; font-size: 85%;">Don't have an account!<a href="#" style="padding-left: 5px;">Sign Up Here</a></div>
                </div>
              </div>
            </form>
          </div>

        </div>

      </div>
    </div>


  </div>


  <div class="container">
  <div *ngIf="feturedList.length>0" class=" " style="color: white;  width:110%;  display: inline-block;">
    <h3 style=""> Feature ICO</h3>

    <div class="featureContainer animated fadeIn">
      <div *ngFor="let featuredIco of feturedList; let i = index" (click)="gotoIco(i)" class="col-md-2 " style=" ">
        <div *ngIf="i != 0" class="Future-div1">
          <img class="img-responsive" src="{{featuredIco.image}}" style="margin-left: 10%;" alt="">
          <p class="future-text" style="margin-left: 10%;  margin-top: 6px;      width: 100%; font-size: 12px;">{{(featuredIco.description).substr(0,45)}}...</p>
        </div>
        <div *ngIf="i == 0" class="">
          <img class="img-responsive" src="{{featuredIco.image}}" style="margin-left: 10%;" alt="">
          <p class="future-text" style="margin-left: 10%;   margin-top: 6px;  font-size: 12px;     width: 100%;">{{(featuredIco.description).substr(0,45)}}...</p>
        </div>
      </div>
    </div>
  </div>
    </div>


</div>
<!-- CONTAINER ENDS -->
