body {
    /* background-color: lightgrey */
    font-family: 'Nunito Sans', sans-serif;
}

.btn-green {
    border: none;
    background-color: #0097A7;
    color: white;
    border-radius: 0;
    font-weight: 200;
    padding: 5px 40px 5px 40px;
}

/*NAVBAR*/

.right-side-button a {
    font-size: 0.8em;
    font-weight: 800;
}

.navbar-nav li > a {
    font-size: 15px;
}

.navbar-default {
    color: #000;
    border-color: transparent;
    background-color: #fff;
    border-bottom: 1px solid #dfdfdf;
    /* background-color: #0097A7; */
}

.navbar-default .navbar-nav li a {
    /* color:white; */
}
.navbar-default .navbar-nav li a:hover {
    color: #000;
}

/*NAVBAR END*/

/* MAIN BANNER START */

.jumbotron {
    background-color: #0097A7;
    padding: 100px 0 100px 0;
    margin-bottom: 0;
}

.jumbotron .container {
    color: #fff;
    margin-top: 100px
}

.jumbotron h3 {
    font-size: 1.9em;
    font-weight: 200;
}
.jumbotron .btn-default {
    background-color: transparent;
    border: 2px solid #fff;
    font-size: 0.9em;
    font-weight: 200;
    padding: 6px 5px;
    color: #fff;
    border-radius: 0;
    min-width: 11%;
}

.jumbotron .btn-default {
    margin-top: 20px;
}

.jumbotron .btn-default:nth-child(3) {
    margin-right: 30px;
}

/* MAIN BANNER END */

/*FIVE FEATURES START*/
#five-features{
    background-color: #F7F7F7;
    text-align: center;
}

#five-features .container {
    padding-top: 25px;
    padding-bottom: 10px;
}

#five-features .fv-item p{
    font-weight: 400;
    color: #A7A7A7;
    padding-top: 10px;
}

#five-features .fv-item p.selected {
    font-weight: 700;
    color: #1DA0B4;
}

#five-features .fv-item p.currency-heading{
    padding-top: 17px;
}

#five-features .fv-item p.markets-heading{
    padding-top: 12px;
}

#five-features .fv-item p.portfolio-heading{
    padding-top: 13px;
}

/*STATS AND CONFIG SECTION STARTS*/
#card .top-cards h4 {
    font-size: 0.9em;
    font-weight: 400;
    color: #A7A7A7;
}

#card .top-cards p {
    font-size: 1.2em;
    font-weight: 300;
    color: #1DA0B4;
}

#card .top-cards{
    margin-top: 30px;
}

#card .top-cards div{
    margin-right:10px;
    text-align: center;
    -webkit-box-shadow: 0 0 20px rgba(0,0,0,.06);
    -moz-box-shadow: 0 0 20px rgba(0,0,0,.06);
    box-shadow: 0 0 20px rgba(0,0,0,.06);
}

#card .top-cards div:nth-child(5) {
    margin-right:0;
}

#card .customise-grid-icon {
    padding: 25px 0 25px 0;
}

#card .customise-grid-icon img {
    padding: 1px 5px 0 0;
}

#card .customise-grid-icon p {
    font-size: 0.67em;
    color: #1DA0B4;
    padding-top: 2px;
}

#card .coin-screener-icon {
    padding: 25px 0 25px 10px;
}

#card .coin-screener-icon img {
    padding:2px 5px 0 0;
}

#card .coin-screener-icon p {
    font-size: 0.66em;
    color: #1DA0B4;
    padding-top: 2px;
}

#card .form-horizontal .input-group input {
    margin-left: 10px;
    min-width: 200px;
    border: 1px solid #1DA0B4;
    border-right: none;
    border-radius: 0;
}

#card .form-horizontal .input-group .input-group-btn .btn-default {
    border: 1px solid #1DA0B4;
    border-left: none;
    border-radius: 0;
    background: transparent;
}

#card .form-horizontal .input-group .input-group-btn .btn-default:hover {
    border-left: none;
    background: transparent;
    border-left: none;
}

/*FIVE FEATURES END*/

/*HOMEPAGE TABLE START*/
#graph-table {
    margin-top: 20px;
}

#graph-table .table {
    border-collapse: separate;
    border-spacing: 0 1em;
}

#graph-table .table > thead > tr > th,
#graph-table .table > tbody > tr > th,
#graph-table .table > tfoot > tr > th,
#graph-table .table > thead > tr > td,
#graph-table .table > tbody > tr > td,
#graph-table .table > tfoot > tr > td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: middle;
    text-align: center;
    border-top: none;
}

#graph-table .table > tbody > tr {
    -webkit-box-shadow: 0 5px 32px 0 rgba(0,0,0,.1);
    -moz-box-shadow: 0 5px 32px 0 rgba(0,0,0,.1);
    box-shadow: 0 5px 32px 0 rgba(0,0,0,.1);
}

/* GRAPH TABLE */

#graph-table .table > tbody:before {
    content: "";
    display: block;
    line-height: 0.5em;
}

#graph-table .table > thead {
    -webkit-box-shadow: 0 0 22px 0 rgba(0,0,0,.1);
    -moz-box-shadow: 0 0 22px 0 rgba(0,0,0,.1);
    box-shadow: 0 0 22px 0 rgba(0,0,0,.1);
}

#graph-table .table > thead > tr > th {
    vertical-align: middle;
    text-align: center;
    padding: 0;
    line-height: 6px;
    border-bottom: none;
    font-weight: 300;
    font-size: 1em;
}

#graph-table .card-item {
    text-align: center;
    align-content: center;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    -webkit-box-shadow: 5px 32px 0 rgba(0,0,0,.1);
    -moz-box-shadow: 5px 32px 0 rgba(0,0,0,.1);
    box-shadow: 0 5px 32px 0 rgba(0,0,0,.1);
}

#graph-table .td-img{
    width: 7%;
    height: 6px
}

#graph-table .graph-img{
    width: 60%;
    height: 80%;
}


#graph-table .graph-p{
    font-size: 0.8em;
    margin-top: -10px;
    margin-left: 10px;
}

#graph-table .red-color{
    color:#c62828;
}

#graph-table .abbr-p{
    font-size: 12px;
    margin: -10px 0 0 0;
}


#graph-table .container .row a
 {
    color: #9e9e9e;
}

#graph-table .container .row  a:hover {
    color: #9e9e9e;
    text-decoration: none
}


/*HOMEPAGE TABLE END*/

/*TABLE BOTTOM CARDS START*/

#table-bottom-stats-cards .card-item h4 {
    font-size:0.9em;
    font-weight:400;
    color:#A7A7A7;
}

#table-bottom-stats-cards .card-item p {
    font-size: 1.2em;
    font-weight: 300;
    color: #1DA0B4;
}

#table-bottom-stats-cards {
    margin-bottom: 30px;
}

#table-bottom-stats-cards .card-item {
    text-align: center;
    -webkit-box-shadow: 0 5px 32px 0 rgba(0,0,0,.1);
    -moz-box-shadow: 0 5px 32px 0 rgba(0,0,0,.1);
    box-shadow: 0 5px 32px 0 rgba(0,0,0,.1);
    margin-right: 20px;
    /* padding-left: -40px; */
    /* padding-left: 10px */
}

#table-bottom-stats-cards .card-item:nth-child(3) {
    margin-right: 0;
}
/*TABLE BOTTOM CARDS ENDS*/

/*HOMEPAGE PAGINATION START*/
#homepage-pagination ul {
    margin-bottom: 30px;
}
#homepage-pagination .pagination > li > a {
    color: #1DA0B4;
    border: none;
}
/*HOMEPAGE PAGINATION END*/

/* FONT AWESOME CUSTOMIZATION START */
#navbar-strap .navbar .fa-2x {
    font-size: 1.5em;
}
/* FONT AWESOME CUSTOMIZATION END*/

/*CURRENCY PAGE START*/

#cp-heading {
    margin-top: 120px;
}

#cp-heading img.currency-icon {
    margin-top: 17px;
    margin-right: 20px;
}

#cp-heading h2 {
    font-size: 2em;
    font-weight: 200;
    padding-left: 30px;
}

#cp-heading h2 span {
    padding-left: 20px;
    font-weight: 700;
    color: #CECECE;
}

#cp-heading .anchors a {
    color: #1DA0B4;
    font-weight: 600;
    padding-right: 10px;
}

#cp-heading .anchors a:hover {
    text-decoration: none;
    color: #000;
}

#cp-heading .anchors span.label {
    font-size: 0.9em;
    font-weight: 300;
    color: #727272;
    background: transparent;
    border: 1px solid #727272;
    border-radius: 0;
    margin-right: 5px;
}

#cp-heading .price-info h3 {
    font-size: 2em;
    color: #1DA0B4;
}

#cp-heading .price-info h3 span {
    font-size: 0.7em;
    color: #A5A4A4;
    margin-top: -5px;
}

#cp-heading .price-info h4.in-green-zone {
    padding-top: 16px;
    color: #1F8114;
}

#cp-heading .price-info h4.in-red-zone {
    color: #A0183E;
}

/*STATS AND CONFIG SECTION STARTS*/
#top-cards-panel .detail-cards h4 {
    font-size: 0.9em;
    font-weight: 400;
    color: #A7A7A7;
}

#top-cards-panel .detail-cards p {
    font-size: 1.2em;
    font-weight: 300;
    color: #1DA0B4;
}

#top-cards-panel .detail-cards{
    margin-top: 50px;
}

#top-cards-panel .detail-cards div{
    margin-right:10px;
    text-align: center;
    -webkit-box-shadow: 0 0 20px rgba(0,0,0,.06);
    -moz-box-shadow: 0 0 20px rgba(0,0,0,.06);
    box-shadow: 0 0 20px rgba(0,0,0,.06);
}

#top-cards-panel .detail-cards div:nth-child(5) {
    margin-right:0;
}

#currency-chart-cp {
    margin-top: 40px;
}

#currency-chart-cp .cp-right-panel h4 {
    font-size: 0.9em;
    font-weight: 400;
    color: #A7A7A7;
}

#currency-chart-cp .cp-right-panel p {
    font-size: 1.2em;
    font-weight: 300;
    color: #1DA0B4;
}

#currency-chart-cp .cp-right-panel .cp-right-card{
    margin-top:30px;
    text-align: center;
    -webkit-box-shadow: 0 0 20px rgba(0,0,0,.06);
    -moz-box-shadow: 0 0 20px rgba(0,0,0,.06);
    box-shadow: 0 0 20px rgba(0,0,0,.06);
}

#currency-chart-cp .cp-right-panel div:nth-child(1) {
    margin-top:0px;
}

#currency-chart-cp .cp-right-panel .cp-right-card .in-red-zone {
    color: #A0183E;
}

#currency-chart-cp .cp-right-panel .cp-right-card .in-green-zone {
    color: #29AC1A;
}

/*CURRENCY PAGE END*/

/*ICO HOMEPAGE START*/
#ico-top-panel {
    background: #F7F7F7;
    padding: 30px;
}
#ico-top-panel .ico-stats-panel h4 {
    font-size: 0.9em;
    font-weight: 400;
    color: #A7A7A7;
}

#ico-top-panel .ico-stats-panel p {
    font-size: 1.2em;
    font-weight: 300;
    color: #1DA0B4;
}

#ico-top-panel .ico-stats-panel .ico-panel-card{
    background: #fff;
    margin-right:10px;
    text-align: center;
    -webkit-box-shadow: 0 0 20px rgba(0,0,0,.06);
    -moz-box-shadow: 0 0 20px rgba(0,0,0,.06);
    box-shadow: 0 0 20px rgba(0,0,0,.06);
}

#ico-top-panel .ico-stats-panel div:nth-child(1) {
    margin-top:0px;
}

#ico-top-panel .form-horizontal .input-group input {
    margin-left: 10px;
    min-width: 200px;
    border: 1px solid #1DA0B4;
    border-right: none;
    border-radius: 0;
    color: #1DA0B4;
}

#ico-top-panel .form-horizontal .input-group .input-group-btn .btn-default {
    border: 1px solid #1DA0B4;
    border-left: none;
    border-radius: 0;
    background: #fff;
}

#ico-top-panel .form-horizontal .input-group .input-group-btn .btn-default:hover {
    border-left: none;
    background: #fff;
    border-left: none;
}

#two-tables .left-table h4,
#two-tables .right-table h4 {
    font-size: 0.9em;
    font-weight: 600;
    color: #A7A7A7;
    padding-top: 20px;
}

#two-tables .table {
    border-collapse: separate;
    border-spacing: 0 1em;
}

#two-tables .table > thead > tr > th,
#two-tables .table > tbody > tr > th,
#two-tables .table > tfoot > tr > th,
#two-tables .table > thead > tr > td,
#two-tables .table > tbody > tr > td,
#two-tables .table > tfoot > tr > td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: middle;
    text-align: center;
    border-top: none;
}

#two-tables .table > tbody > tr {
    -webkit-box-shadow: 0 5px 32px 0 rgba(0,0,0,.1);
    -moz-box-shadow: 0 5px 32px 0 rgba(0,0,0,.1);
    box-shadow: 0 5px 32px 0 rgba(0,0,0,.1);
}

/* GRAPH TABLE */

#two-tables .table > tbody:before {
    content: "";
    display: block;
    line-height: 0.5em;
}

#two-tables .table > thead {
    -webkit-box-shadow: 0 0 22px 0 rgba(0,0,0,.1);
    -moz-box-shadow: 0 0 22px 0 rgba(0,0,0,.1);
    box-shadow: 0 0 22px 0 rgba(0,0,0,.1);
}

#two-tables .table > thead > tr > th {
    vertical-align: middle;
    text-align: center;
    padding: 0;
    line-height: 6px;
    border-bottom: none;
    font-weight: 300;
    font-size: 1em;
}

#two-tables .card-item {
    text-align: center;
    align-content: center;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    -webkit-box-shadow: 5px 32px 0 rgba(0,0,0,.1);
    -moz-box-shadow: 5px 32px 0 rgba(0,0,0,.1);
    box-shadow: 0 5px 32px 0 rgba(0,0,0,.1);
}

#two-tables .td-img{
    width: 7%;
    height: 6px
}

#two-tables .graph-img{
    width: 60%;
    height: 80%;
}


#two-tables .graph-p{
    font-size: 0.8em;
    margin-top: -10px;
    margin-left: 10px;
}

#two-tables .red-color{
    color:#c62828;
}

#two-tables .abbr-p{
    font-size: 12px;
    margin: -10px 0 0 0;
}


#two-tables .container .row a
{
    color: #000;
}

#two-tables .container .row  a:hover {
    color: #000;
    text-decoration: none
}

#two-tables .red {
    font-weight: 600;
    color: #E30000;
}

#two-tables .yellow {
    font-weight: 600;
    color: #FF8D00;
}

#two-tables .green {
    font-weight: 600;
    color: #1DA0B4;
}

#two-tables .fa {
    color: #C7C7CD;
    padding-right: 5px;
}

#two-tables .fa:hover {
    color: #000;
}

#two-tables .left-table button,
#two-tables .right-table button{
    background-color: #fff;
    padding: 5px;
    margin-top: -10px;
    margin-bottom: 20px;
    -webkit-box-shadow: 5px 32px 0 rgba(0,0,0,.1);
    -moz-box-shadow: 5px 32px 0 rgba(0,0,0,.1);
    box-shadow: 0 5px 32px 0 rgba(0,0,0,.1);
}

#two-tables .left-table .btn,
#two-tables .right-table .btn {
    font-weight: 700;
    background-color: #fff;
    border: none;
    border-radius: 0;
}

#planning-ico {
    text-align: center;
    margin-top: 30px;
    background-color: #F7F7F7;
    padding: 20px 0 40px 0;
}

#planning-ico h2 {
    font-size: 2em;
    font-weight: 300;
}

#planning-ico p {
    font-size: 1.4em;
    font-weight: 300;
    line-height: 35px;
}

#ico-listing .table {
    box-shadow: 0 5px 32px 0 rgba(0,0,0,.1);
}

#ico-listing .table > tbody > tr > td {
    border-bottom: 1px solid #F7F7F7;
    border-widows: 50%;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 50px;
    color: #727272;
}

#ico-listing .table > tbody > tr > td > img {
    padding-right: 15px;
}

#ico-listing-item {
    margin-top: 20px;
}

#ico-listing-item .ico-card {
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0 5px 32px 0 rgba(0,0,0,.1);
}

#ico-listing-item .ico-card img {
    padding-top: 15px;
    padding-left: 15px;
    width: 100%;
    height: 100%;
}

#ico-listing-item .ico-card h3 {
    color: #000;
    font-weight: 200;
    letter-spacing: 2px;
}

.trending-icon {
    padding-left: 10px;
    font-size: 0.4em;
    font-weight: 800;
    vertical-align: top;
}

.premium-icon {
    float: right;
    font-size: 0.4em;
    font-weight: 800;
    vertical-align: top;
}

#ico-listing-item .fa {
    color: #1DA0B4;
}

#ico-listing p {
    color: #000;
}

#ico-listing p.rating-feedback {
    color: #9E9D9D;
}
/*ICO HOMEPAGE END*/

/*ICO VIEW PAGE START*/
#ico-stats-brief {
    margin-top: 180px;
    margin-bottom: 50px;
}

#ico-stats-brief .launch-card {
    box-shadow: 0 5px 32px 0 rgba(0,0,0,.1);
    margin-right: 10px;
    text-align: center;
}

#subscribe button {
    padding-top: 7px;
    padding-bottom: 7px;
}
/*ICO VIEW PAGE END*/

/* FOOTER STARTS */

#footer {
    background-color: #2A3A4D;
    color: #fff;
    padding: 30px 0 30px 0;
}

#footer .left-col {
    text-align: left;
}

#footer .centre-col {
    text-align: center;
}

#footer .right-col {
    text-align: right;
}

#footer h3 {
    font-size: 1.1em;
}

#footer .centre-col h3 {
    font-size: 0.8em;
    font-weight: 200px;
}

#footer p {
    font-size: 0.8em;
    color: #8B8E9A;
}
/* FOOTER ENDS */

/*MEDIA QUERIES for SM*/
@media(max-width: 1200px) {

    #card .top-cards  .refresh-rate-card h4,
    #card .top-cards  .korean-option-card h4,
    #card .top-cards  .global-market-card h4,
    #card .top-cards  .bitcoin-dominance-card h4,
    #card .top-cards  .total-accounts-card h4
    {
        font-size: 0.7em;
    }

    #card .top-cards  .refresh-rate-card p,
    #card .top-cards  .korean-option-card p,
    #card .top-cards  .global-market-card p,
    #card .top-cards  .bitcoin-dominance-card p,
    #card .top-cards  .total-accounts-card p
    {
        font-size: 1em;
    }

    #card .form-horizontal .input-group input {
        min-width: 150px;
    }

    #card .customise-grid-icon p {
        font-size: 0.55em;
    }

    #card  .customise-grid-icon img {
        padding-top: 0;
    }

    #card  .coin-screener-icon p {
        font-size: 0.5em;
    }

    #card  .coin-screener-icon img {
        padding-top: 1px;
    }

    #footer .left-col {
        text-align: center;
        border-bottom: 1px solid #31435A;
    }

    #footer .centre-col {
        text-align: center;
        border-bottom: 1px solid #31435A;
    }

    #footer .right-col {
        text-align: center;
    }

}

/*MEDIA QUERIES for SM*/
@media(max-width: 1000px) {

    .jumbotron {
        display: none;
    }

    #five-features {
        margin-top: 75px;
    }

    #card .top-cards div{
        margin-right: 12px;
        margin-bottom: 15px;
        padding: 2px 0 2px 0;
    }

    #card .top-cards div:nth-child(5) {
        margin-bottom: 0;
    }

    #card .top-cards div:nth-child(1) {
        margin-left: 10px;
    }

    #card .top-cards div:nth-child(5) {
        margin-bottom: 0;
    }



    #card .top-cards  .refresh-rate-card h4,
    #card .top-cards  .korean-option-card h4,
    #card .top-cards  .global-market-card h4,
    #card .top-cards  .bitcoin-dominance-card h4,
    #card .top-cards  .total-accounts-card h4
    {
        font-size: 1em;
    }

    #card .top-cards  .refresh-rate-card p,
    #card .top-cards  .korean-option-card p,
    #card .top-cards  .global-market-card p,
    #card .top-cards  .bitcoin-dominance-card p,
    #card .top-cards  .total-accounts-card p
    {
        font-size: 1.2em;
    }

    #card .customise-grid-icon {
        display: none;
    }

    #card .coin-screener-icon {
        display: none;
    }

    #card .form-horizontal .input-group input {
        min-width: 0;
    }

    #graph-table .table > thead > tr > th {
        font-size: 0.8em;
    }

    #graph-table .table > tbody > tr > td {
        font-size: 0.8em;
    }

    #table-bottom-stats-cards {
        margin-bottom: 30px;
    }

    #table-bottom-stats-cards .card-item {
        margin-right: 0;
        margin-bottom: 20px;
        padding: 2px 0 2px 0;
        /* padding-left: -40px; */
        /* padding-left: 10px */
    }

    #table-bottom-stats-cards .card-item:nth-child(3) {
        margin-right: 0;
    }
}

/*MEDIA QUERIES for XS*/
@media(max-width: 800px) {
    .jumbotron {
        display: none;
    }

    #five-features {
        margin-top: 80px;
    }

    #five-features .fv-item p {
        font-size: 0.53em;
    }

    #card .top-cards div{
        margin-right: 6px;
        padding: 2px 0 2px 0;
    }

    #card .top-cards div:nth-child(1) {
        margin-left: 6px;
    }

    #card .top-cards div:nth-child(5) {
        margin-bottom: 0;
    }

    /*#card .top-cards  .refresh-rate-card,*/
    /*#card .top-cards  .korean-option-card,*/
    /*#card .top-cards .total-accounts-card*/
    /*{*/
        /*display: none;*/
    /*}*/

    #card .top-cards  .refresh-rate-card h4,
    #card .top-cards  .korean-option-card h4,
    #card .top-cards  .global-market-card h4,
    #card .top-cards  .bitcoin-dominance-card h4,
    #card .top-cards  .total-accounts-card h4
    {
        font-size: 0.65em;
    }

    #card .top-cards  .refresh-rate-card p,
    #card .top-cards  .korean-option-card p,
    #card .top-cards  .global-market-card p,
    #card .top-cards  .bitcoin-dominance-card p,
    #card .top-cards  .total-accounts-card p
    {
        font-size: 0.7em;
    }

    #card .coin-screener-icon,
    #card .customise-grid-icon {
        display: none;
    }

    #card .form-horizontal .input-group input {
        min-width: 50px;
    }

    #graph-table .table {
        margin-top: -40px;
    }

    #graph-table .stacktable .st-head-row-main {
        display: none;
    }

    /*#graph-table .stacktable .cryptocur-icon {*/
        /*margin-left: 10px;*/
    /*}*/

    #graph-table .stacktable .val7,
    #graph-table .stacktable .val6{
        display: none;
    }

#ico-listing .table {
    display:none;
}

}





@media only screen and (max-width: 600px) {
  #ico-stats-brief .launch-card {
    margin-right: 5%;
    margin-left: 5%;
  }
  .shadow-ratedDiv{
    margin-right: 5%;
    margin-left: 5%;
  }
  #noVideoText{
    margin-left: 5% !important;
    width: 70%;
    margin-top: 2%;
  }

  #rattingDivIco{
    margin-top: 35%;
    margin-bottom: 5%;
  }
  #yourRatingHeader{
    margin-left: 3%;
  }
  #socialsDiv{
    text-align: center;
  }
  #ico-stats-brief{
    margin-top: 100px;
  }
  #navbartoggleThreeBars{
    margin-right: 8%;
  }
  #coinsListTable{
    margin-top: -3% !important;
    margin-left: 5% !important;
  }
  #ico-top-panel{
    margin-top: 20%;
  }
  .ico-panel-card{
    padding-top: 1%;
    padding-bottom: 1%;
    margin-bottom: 1%;
    width: 100%;
  }
  #ico-search{
    margin-left: 0% !important;
  }

  .table1-eta{
    display: none;
  }

  .table1-social{
    display: none;
  }

  .table1-name-iconame{
    display: none;
  }

  .table2-name-iconame{
    display: none;
  }



  .table1-name-logo{
    width: 100% !important;
    margin-top: 0px;
  }

  .table1-name-logo > img{
    margin-top: 0px !important;
    margin-left: 7%;
  }

  .table2-name-logo{
    width: 100% !important;
    margin-top: 0px;
  }

  .table2-name-logo > img{
    margin-top: 0px !important;
    margin-left: 7%;
  }

  .ico-listing-timer-box{
    margin-top: 0px !important;
    padding-left: 0 !important;
  }

  .end-in-text{
    margin: 0 !important;
  }

  .end-in-timer-divs{
    padding-right: 0;
    padding-left: 0;
    text-align: center;
  }

  .end-in-timer-divs > h3{
    margin-top: 30% !important;
  }

  .minutes-div{
    margin-left: 3% !important;
  }

  .beforeIcon-ratingStar-text{
    font-size: 0.7em !important;
  }

  .rateDiv{
    display: none;
  }

  .rateDiv2{
    display: block !important;
    margin-top: -52% !important;
  }

  .ico-we-can-help{
    margin-right: 5%;
    margin-left: 5%;
  }

  .ico-tables{
    width:96% !important;
  }

  .table2-name{
    width: 17% !important;
  }

  .modal-content{
    width:95%;
  }

  .popupInput{
    width: 100% !important;
  }

  .popupFileUpload{
    margin-left: 16px !important;
    width: 100% !important;
  }

  .ico-tables{
    font-size: 0.8em !important;
  }

  .ico-panel-card{
    margin-bottom: 3% !important;
  }

  .coinHeadingQuery{
    text-align: center !important;
  }

  .coinHeadingPriceInfo{
    text-align: center !important;
  }

  .currency-icon{
    float: inherit !important;
    width: 20% !important;
    margin-left: 41% !important;
    margin-bottom: -2%;
  }

  .percentChangeQuery{
    margin-top: 0% !important;
  }

  .detailsCards{
    margin-bottom: 12%;
  }

  .detail-cards > div{
    padding-top: 3%;
    padding-bottom: 3%;
    margin-right: 5% !important;
    margin-left: 5%;
  }

  .detailsCards > div{
    padding-top: 1%;
    padding-bottom: 1%;
    margin-right: 5% !important;
    margin-left: 5%;
    margin-top: 2% !important;
  }

  .mediaQueryCaret{
    float: initial !important;
  }

  .chartMarginBottom{
    height: 420px !important;
  }

}



.featureContainer:nth-child(1){
  display: none !important;
}

.bottomCardsWidthMargin{
  margin-left: 1%;
  width: 95%;
  margin-right: 1%;
}





/* FOR LOADER */
.showbox {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5%;
}

.loader {
  position: relative;
  margin: 0 auto;
  width: 100px;
}
.loader:before {
  content: '';
  display: block;
  padding-top: 100%;
}

.circular {
  -webkit-animation: rotate 2s linear infinite;
  animation: rotate 2s linear infinite;
  height: 100%;
  -webkit-transform-origin: center center;
  transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  -webkit-animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round;
}

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}
@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}
@-webkit-keyframes color {
  100%,
  0% {
    stroke: #d62d20;
  }
  40% {
    stroke: #0057e7;
  }
  66% {
    stroke: #008744;
  }
  80%,
  90% {
    stroke: #ffa700;
  }
}
@keyframes color {
  100%,
  0% {
    stroke: #d62d20;
  }
  40% {
    stroke: #0057e7;
  }
  66% {
    stroke: #008744;
  }
  80%,
  90% {
    stroke: #ffa700;
  }
}
