<!-- MIDDLE CTA -->

<section id="card" >
  <div class="container">
    <div class="row">

      <div class="top-cards" align="center">


        <div class="col-md-2 col-xs-3 global-market-card">
          <h4>GLOBAL MARKET</h4>
          <p>$ {{globalMarkets}}</p>
        </div>
        <div class="col-md-1 col-xs-2 bitcoin-dominance-card">
          <h4>DOMINANCE</h4>
          <p>{{dominance}}%</p>
        </div>
        <div class="col-md-1 col-xs-2 total-accounts-card">
          <h4>ACCOUNTS</h4>
          <p>{{accounts}}</p>
        </div>

        <div class="col-md-1 col-xs-2">

        </div>
        <div class="col-md-1 col-xs-2 ">

        </div>


      </div>

      <div class="col-md-offset-1 col-md-1 customise-grid-icon">
        <!--<img class="img-responsive pull-left" src="assets/icons/sun.png" alt="logo">-->
        <!--<p>CUSTOMIZE GRID</p>-->
      </div>

      <div class="col-md-1 coin-screener-icon">
        <!--<img class="pull-left"  src="assets/icons/glass-martini.png" alt="logo">-->
        <!--<p>COIN SCREENER</p>-->
      </div>

      <div class="col-md-2 col-xs-12" style="padding: 15px 0 10px 0;">

        <form class="form-horizontal" role="Search">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term">
            <div class="input-group-btn">
              <button class="btn btn-default" type="submit"><i style="color: #1DA0B4;" class="glyphicon glyphicon-search"></i></button>
            </div>
          </div>
        </form>
      </div>

    </div>
  </div>

</section>

<!-- MIDDLE CTA END-->
