
<section id="subscribe" style="background-color: #F7F7F7;padding-top:40px;padding-bottom:40px;">
  <div class="container">
    <div class="row">

      <div class="col-md-12" align="center">
        <h4 style="font-size:1.5em;font-weight: 200;padding-bottom: 15px;">Be the first to receive latest Medicalchain news, events and release updates.</h4>
        <form class="form-inline">
          <div class="form-group">
            <div class="form-group">
              <input style="width: 350px;height: 35px;border-radius: 0;padding-top:10px;padding-bottom: 10px;margin-right: 15px;" type="email" class="form-control" style="" id="exampleInputEmail2" placeholder="example@gmail.com" >
            </div>
            <button type="submit" class="btn btn-green" style="padding-top:7px;padding-bottom:7px;">SIGN UP</button>
          </div>
        </form>

      </div>
    </div>
  </div>
</section>
<!--SUSCRIBE ENDS  -->
