<!-- GRAPH TABLE STARTS-->

<section id="graph-table">
  <div class="container">
    <div class= "row">

        <table class="table">

          <thead>
          <tr>
            <th> NAME</th>
            <th>PRICE</th>
            <th>MARKETCAP</th>
            <th>VOLUME (24H)</th>
            <th>CIRCULATING</th>
            <th>1h</th>
            <th>24h</th>
            <th>WEEKLY</th>
          </tr>
          </thead>
          <tbody>

          <tr *ngFor="let coin of coinsList; let i = index" (click)="gotoCoinDetails(coin.symbol)" >
            <td class="td-border" width="10%">
              <div class="pull-left cryptocur-icon" style="padding-top: 2px; width:28%">
                <img src="{{coin.image_url}}" style="width: 100%; height: auto;" alt="logo">
              </div>

              <div class="pull-left" style="width: 5%;padding-left: 10px;">
                <p>{{coin.name}}</p>
                <p class="abbr-p">{{coin.symbol}}</p>
              </div>

            </td>

            <td *ngIf="coin.percent_change_1h > 0"  class="graph-td" align="center;" style="color: #2e7d32;">$ {{addCommas(coin.price_usd)}}
              <i class="fa fa-caret-up" aria-hidden="true" style="padding-left: 5px;"></i>
            </td>

            <td *ngIf="coin.percent_change_1h < 0"  class="graph-td" align="center;" style="color: #c62828;">$ {{addCommas(coin.price_usd)}}
              <i class="fa fa-caret-down" aria-hidden="true" style="padding-left: 5px;"></i>
            </td>


            <td class="graph-td">$ {{addCommas(coin.market_cap_usd)}}</td>
            <td class="graph-td" align="center">$ {{addCommas(coin.volume_usd)}}</td>
            <td class="graph-td" align="center">$ {{addCommas(coin.available_supply)}}</td>




            <td *ngIf="coin.percent_change_1h > 0" style="width: 10%;color: #09c600;" align="center">{{coin.percent_change_1h}}%
              <i class="fa fa-caret-up" aria-hidden="true" style="padding-left: 5px;"></i>
            </td>
            <td *ngIf="coin.percent_change_1h < 0" style="width: 10%;color: #c62828;" align="center">{{coin.percent_change_1h}}%
              <i class="fa fa-caret-down" aria-hidden="true" style="padding-left: 5px;"></i>
            </td>


            <td *ngIf="coin.percent_change_24h > 0" style="padding-bottom: 0;" align="center" class="graph-td">
              <p class="pull-left 24h-val" style="color: #09c600;">{{coin.percent_change_24h}}%
                <i class="fa fa-caret-up" aria-hidden="true" style="padding-left: 5px;"></i>
              </p>
            </td>
            <td *ngIf="coin.percent_change_24h < 0" style="padding-bottom: 0;" align="center" class="graph-td">
              <p class="pull-left 24h-val" style="color: #c62828;">{{coin.percent_change_24h}}%
                <i class="fa fa-caret-down" aria-hidden="true" style="padding-left: 5px;"></i>
              </p>
            </td>


            <td style="width: 15%;" align="center">
              <!--<img src="assets/icons/Lineage.png" alt="logo" class="graph-img">-->
              <!--<p class="graph-p" style= "color: #c62828;">-5.35%-->
                <!--<img src="assets/icons/down-arrow.png" style="width: 10%" height="10%" alt="logo" img-responsive >-->
              <!--</p>-->
              <!--<div id="chartContainer" style="height: 300px; width: 100%;"></div>-->

              <canvas  *ngIf="coin.percent_change_1h > 0" baseChart style="    width: auto;
    height: 30%;"
                      [data]="lineChartData[i]"
                      [labels]="lineChartLabels"
                      [colors]="lineChartColorsGreen"
                      [options]="lineChartOptions"
                      [chartType]="lineChartType"
                      (chartHover)="chartHovered($event)"
                      (chartClick)="chartClicked($event)"></canvas>

              <canvas  *ngIf="coin.percent_change_1h < 0" baseChart style="    width: auto;
    height: 30%;"
                       [data]="lineChartData[i]"
                       [labels]="lineChartLabels"
                       [colors]="lineChartColorsRed"
                       [options]="lineChartOptions"
                       [chartType]="lineChartType"
                       (chartHover)="chartHovered($event)"
                       (chartClick)="chartClicked($event)"></canvas>

              <p *ngIf="coin.percent_change_1h > 0" class="pull-left 24h-val" style="color: #ffffff;position: absolute;margin-top: -1%;margin-left: 3%;">{{coin.percent_change_1h}}%
                <i class="fa fa-caret-up" aria-hidden="true" style="padding-left: 5px;"></i>
              </p>

              <p *ngIf="coin.percent_change_1h < 0" class="pull-left 24h-val" style="color: #ffffff;position: absolute;margin-top: -1%;margin-left: 3%;">{{coin.percent_change_1h}}%
                <i class="fa fa-caret-down" aria-hidden="true" style="padding-left: 5px;"></i>
              </p>

              <p style="display: none;">{{i+1}}</p>

            </td>


          </tr>
          </tbody>
        </table>

    </div>
  </div>
</section>
<!-- GRAPH TABLE ENDS -->

<section id="homepage-pagination" style="margin-top: -10px;">

  <div class="col-md-12" align="center">
    <ul class="pagination">
      <li><a (click)="changePage(-1)">< Prev</a></li>
      <li><a (click)="changePage(1)" >1</a></li>
      <li><a (click)="changePage(2)">2</a></li>
      <li><a (click)="changePage(3)">3</a></li>
      <li><a (click)="changePage(4)">4</a></li>
      <li><a (click)="changePage(5)">5</a></li>
      <li><a (click)="changePage(6)">Next ></a></li>
    </ul>
  </div>

</section>
