<!-- ICO Social Starts -->
<section id="ico-social" style=" background-color: #F7F7F7;padding-top: 30px;padding-bottom: 30px;">
  <div class="container">
    <div class="row" id="socialsDiv">

      <div class="col-md-2 social">
        <p style="font-size: 1.3em;font-weight: 300;"><i class="fa fa-twitter fa-1.5x" aria-hidden="true"></i> /{{icoDetails.faccebook_url}}</p>
      </div>
      <div class="col-md-2 social">
        <p style="font-size: 1.3em;font-weight: 300;"><i class="fa fa-facebook fa-1.5x" aria-hidden="true"></i> /{{icoDetails.twitter_url}}</p>
      </div>
      <div class="col-md-2 social">
        <p style="font-size: 1.3em;font-weight: 300;"><i class="fa fa-github-alt fa-1.5x" aria-hidden="true"></i> /{{icoDetails.github_url}}</p>
      </div>
      <div class="col-md-2 social">
        <p style="font-size: 1.3em;font-weight: 300;"><i class="fa fa-reddit-alien fa-1.5x"></i> /{{icoDetails.reddit_url}}</p>
      </div>
      <div class="col-md-2 social">
        <p style="font-size: 1.3em;font-weight: 300;"><i class="fa fa-medium fa-1.5x"></i>/{{icoDetails.medium_url}}</p>
      </div>

      <div class="col-md-2 social">
        <p style="font-size: 1.3em;font-weight: 300;"><i class="fa fa-paper-plane fa-1.5x"></i>/{{icoDetails.paperplane_url}}</p>
      </div>

    </div>
  </div>
</section>
<!--ICO Social Ends  -->
