<!--TOP-CARDS-PANEL-->
<section id="top-cards-panel">

  <div class="container">
    <div class="row">

      <div class="detail-cards">

        <div class="col-md-2">
          <h4>MARKET CAP</h4>
          <p>$ {{marketCapUsd}}</p>
        </div>
        <div class="col-md-2">
          <h4>VOLUME (24h)</h4>
          <p>$ {{volume24Hr}}</p>
        </div>
        <div class="col-md-2">
          <h4>CALCULATING SUPPLY</h4>
          <p>$ {{calculatingSupply}}</p>
        </div>
        <div class="col-md-2">
          <h4>MAX SUPPLY</h4>
          <p>$ {{maxSupply}}</p>
        </div>
        <div class="col-md-2">
          <h4>VOL/MCAP</h4>
          <p>{{volumeMcap}}%</p>
        </div>

      </div>

    </div>
  </div>

</section>
<!--TOP-CARDS-PANEL-END-->
